
@model List<SharedObjects.ValueObjects.VAction>;
@using SharedObjects.Extensions;

<div class="row">
    <div class="col-md-12" style="min-height: auto !important;height: auto !important;min-width:900px !important;width:auto !important">
        <div class="portlet light" style="min-height: auto !important;height: auto !important">
            <div class="portlet-title">

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr class="text-center bold">
                            <td>Work Week</td>
                            <td>Workcell</td>
                            <td>Station</td>
                            <td>Station Name</td>
                            <td>Downtime Category</td>
                            <td>Downtime Details</td>
                            <td>Total Downtime (Hours)</td>
                            <td>% Impact vs Overall (%)</td>
                            <td>Problem Description <br /><span style="color:brown;">(5W2H)</span></td>
                            <td>
                                Root Cause <br /><span style="color:brown;">(5WHY Analysis)</span>
                            </td>
                            <td>Containment Action</td>
                            <td>Corrective and Preventive Action</td>
                            <td>ECN/PCN/NA</td>
                            <td>FIA No.</td>
                            <td>Responsible Person</td>
                            <td>Commit Date</td>
                            <td>Attachment</td>
                            <td>Status</td>
                            @if (User.IsInRole("Super User") || User.IsInRole("System Admin"))
                            {
                            <td style="width:100px">Modification</td>
                            }
                        </tr>
                    </thead>
                    <tbody id="table-data">

                        @foreach (var item in Model)
                        {
                        <tr class="text-center">
                            <td id="">@item.Yyww</td>
                            <td id="">@item.CustName</td>
                            <td id="">@item.Station</td>
                            <td id="">@item.StationName</td>
                            <td id="">@item.Category</td>
                            <td id="">@item.Details</td>
                            <td id="">@item.TotalDT</td>
                            <td id="">@item.OverallImpact</td>
                            <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.ProblemDescription</textarea></td>
                            <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.RootCause</textarea></td>
                            <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.ContainmentAction</textarea></td>
                            <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Capa</textarea></td>
                            <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Ecnpcn</textarea></td>
                            <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Fia</textarea></td>
                            <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Responsible</textarea></td>
                            <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.CommitDate</textarea></td>
                            <td id="">
                                @if (item.FileName != null)
                                    {
                                @foreach (var item2 in item.FileName.Split(';'))
                                        {
                                @*@item2*@
                                <a class="wrapper" id="btn" href="@Url.Action("DownloadFile", "Action", new { fileName = @item2 })">@item2</a>
                                <br />
                                        }
                                    }

                            </td>
                            <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Remark</textarea></td>
                            @if (item.StatusId == 1 && (User.IsInRole("Super User") || User.IsInRole("System Admin")))
                                {
                            <td class="text-center">
                                <a id="btn-edit" class="btn default btn-xs red delete" data-id="@item.ActionId" title="Edit" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-edit"></span></a>
                            </td>
                                }
                        </tr>
                        }
                    </tbody>
                </table>
              
            </div>
        </div>
    </div>
</div>
