
@model List<SharedObjects.ValueObjects.VAction>;
@using SharedObjects.Extensions;

<div class="row">
    <div class="col-md-12" style="min-height: auto !important;height: auto !important;min-width:900px !important;width:auto !important">
        <div class="portlet light" style="min-height: auto !important;height: auto !important">
            <div class="portlet-title">

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr class="text-center bold">
                            <td>Yyww</td>
                            <td>Workcell</td>
                            <td>Downtime Category</td>
                            <td>Downtime Details</td>
                            <td>Total Downtime</td>
                            <td>Problem Description</td>
                            <td>Root Cause</td>
                            <td>Containment Action</td>
                            <td>Corrective and Preventive Action</td>
                            <td>% Impact vs Overall</td>
                            <td>ECN/PCN/NA</td>
                            <td>FIA No.</td>
                            <td>Responsible Person</td>
                            <td>Commit Date</td>
                            <td>Status</td>
                            <td style="width:100px">Modification</td>
                            @*@if (User.IsInRole("Debug User") || User.IsInRole("System Admin") || User.IsInRole("Approval Owner"))
                                {
                                    <td style="width:100px">Modification</td>
                                }*@
                        </tr>
                    </thead>
                    <tbody id="table-data">

                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td id="">@item.Yyww</td>
                                <td id="">@item.CustName</td>
                                <td id="">@item.Category</td>
                                <td id="">@item.Details</td>
                                <td id="">@item.TotalDT</td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.ProblemDescription</textarea></td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.RootCause</textarea></td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.ContainmentAction</textarea></td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Capa</textarea></td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.OverallImpact</textarea></td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Ecnpcn</textarea></td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Fia</textarea></td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Responsible</textarea></td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.CommitDate</textarea></td>
                                <td id=""><textarea class="cell" rows="6" cols="30" disabled>@item.Remark</textarea></td>                               
                                <td class="text-center">
                                    <a id="btn-edit" class="btn default btn-xs red delete" data-id="@item.ActionId" title="Edit" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-edit"></span></a>

                                    @*@if (item.StatusId == 1 && (User.IsInRole("Debug User") || User.IsInRole("System Admin")))
                                    {
                                        <a id="btn-edit" class="btn default btn-xs red delete" data-id="@item.ActionId" title="Edit" data-toggle="modal" data-target="#myModal"> <span class="glyphicon glyphicon-edit"></span></a>
                                    }
                                    @if (item.StatusId == 2 && User.IsInRole("Approval Owner"))
                                    {<button id="btn" data-id="@item.ActionId" data-toggle="modal" data-target="#modal" type="button" class="btn blue">Acknowledge</button>
                                    }*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
